/*

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98


- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  margin-top: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  font-family: "Outfit", sans-serif;
  background-color: #d6e2f0;
}

.container {
  width: 30rem;
  /* margin: 0 auto; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 1.5rem 1.5rem;
  border-radius: 1.1rem;
}

.qr-img {
  width: 100%;
  border-radius: 1.1rem;
}

.header-teritory {
  font-size: 2rem;
  letter-spacing: -0.05px;
  line-height: 1.2;
  font-weight: 700;
}

.card-text {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7b879d;
}

.card-content {
  padding: 2rem;
  text-align: center;
}

@media (max-width: 23em) {
  .container {
    width: 25rem;
  }

  .header-teritory {
    font-size: 1.5rem;
  }

  .card-text {
    font-size: 1rem;
  }
}
